body {
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #fff url("background.jpg") no-repeat fixed center bottom;
    background-size: cover;
}

.header{
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 5px purple;
    font-family: 'Griffy', cursive;
    color: black;
}

.canvas {
    text-align: left;
    background: rgba(255,255,255,0.95);
    width: 60%;
    height: 28.5rem;
    border-style: solid;
    border-width: 0.5rem;
    border-color: burlywood;
    float: left;
}

.menu {
    float: right;
}

.css_text{
    padding-left:10px;
}

.button {
	border-radius: 1000px;
}